* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:white;
}

html,body {
    width: 100%;
    height: 100%;
}

#first {
    height: 100%;
    width: 100%;
    background-color: rgba(140, 140, 140, 0.864);
}

#second{
    height: 100%;
    width: 100%;
    background-color: rgba(234, 126, 126, 0.864);
}

#second img{
    height: 100%;
    position: relative;
    left: 50%;
    object-fit: cover;
    width: 30%;
    transform: translate(-50%);
}