*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: rgb(234, 232, 228)
}


h1{
    color: rebeccapurple;;
}

h2{
    color: aqua;
}
h3{
    color: bisque;
}
h4{
    color: red;
}
.diveditor{
    width: 20%;
    height: 20%;
    background-color: brown;
}
