* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:white;
}

html,body {
    width: 100%;
    height: 100%;
}

#page1 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 142, 218);
}
#page2 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(16, 42, 62);
}

#page3 {
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(34, 38, 41);
}

#box {
    height: 300px;
    width: 300px;
    background-color: red;
}